@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="POST">
    <input type="text" name="description" placeholder="Describe task..."/>
    <input type="submit"/>
    </form>
    <p>

<div class="row">
<div class="backlog" ondrop="drop(event)" ondragover="allowDrop(event)" id="div1">
<header> Backlog</header>
<ul>    
    <li>
<div class="card" draggable="true" ondragstart="drag(event)" id="drag1">item 1<span class="close">x</span>
    </li>
</ul>

    </div>
<div class="inprogress" ondrop="drop(event)" ondragover="allowDrop(event)" id="div2">
    <header> In progress</header>
    <ul>    
    <li>
    <div class="card" draggable="true" ondragstart="drag(event)" id="drag2">item 3<span class="close">x</span>
     </li>
</ul>
    </div>
<div class="done" ondrop="drop(event)" ondragover="allowDrop(event)" id="div3">
    <header> Done</header>
    </div>
    </div>
    </p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
    <table class="table">
    <thead>
        <tr>
            <th>
                <h3 draggable="true" ondragstart="drag(event)" id="drag1" width="50" height="60">Kort 2</h3></th>
            <th>
                <h3 draggable="true" ondragstart="drag(event)" id="drag1" width="50" height="60">Kort 1</h3></th>
    </table>
    
        <img src="bild.jpg" draggable="true" ondragstart="drag(event)" id="drag1" width="50" height="60">
</div>


<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
    <table class="table">
    <thead>
        <tr>
            <th>
                <h3 draggable="true" ondragstart="drag(event)" id="drag1" width="50" height="60">Kort 3</h3>
                </th>
    
    </table>
    
        <img src="bild.jpg" draggable="true" ondragstart="drag(event)" id="drag1" width="50" height="60">
</div>


<script>
function allowDrop(ev) {
    event.preventDefault();
}

function drag(ev) {
    event.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    event.preventDefault();
    var data = event.dataTransfer.getData("text");
    event.target.appendChild(document.getElementById(data));
}
</script>
