@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="POST">
    <input type="text" name="description" placeholder="Describe task..."/>
    <input type="submit"/>
    </form>
<div class="row">
<div class="backlog">
<header> Backlog</header>
    </div>
<div class="inprogress">
    <header> In progress</header>
    </div>
    <div class="done">
    <header> Done</header>
    </div>
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
